
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}

table td{
    border: 1px solid grey;
    width: 100px;
    height: 100px;
}

